body{
    background-color: #025E73;
    
}
h1{
    position: absolute;
    font-family: 'Passion One', cursive;
    letter-spacing: 2px;
    left: 43%;
    color: rgb(204, 214, 218);
}
.card{
    width: 180px;
    height: 230px;
    border: 2px solid black;
    margin: 5px;
    transition: 0.8s;
    animation: fades 0.5s linear;
    background-color: white;
    cursor: pointer;
    z-index: 100;
}
@keyframes fades{
    from{margin-left: -100px}
    top{margin-left: 100px;}
}
.card:hover{
    transform: translateY(-15px);
}
#div{
    display: flex;

}
#div2{
    display: flex;
}
.images{
    /* position: absolute; */
    width: 60px;
    height: 60px;
   margin-left: 60px;
   margin-top: 30px;
}
.content{
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}
.player1_Board{
    background-color: rgb(223, 192, 192);;
    position: absolute;
    left: 0%;
    padding: 10px;
    font-family: 'Passion One', cursive;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    transition: 3s;
    display: none;
}
.player2_Board{
    background-color: rgb(223, 192, 192);
    position: absolute;
    display: none;
    right: 0%;
    padding: 10px;
    font-family: 'Passion One', cursive;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    transition: 1s;
}
.player1{
    position: absolute;
    left: 35%;
    top: 15%;
    transition: 1s;
}
.hit1{
    position: absolute;
    top: 28%;
    left: 1%;
}
.player2{
    position: absolute;
    left: 35%;
    top: 50%;
    transition: 1s;
}
.hit2{
    position: absolute;
    top: 63%;
    left: 1%;
}
#hidden_card{
    position: absolute;
    display: none;
    width: 180px;
    height: 230px;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    margin: 5px;
    /* transition: 1s; */
    z-index: 100;
    animation: fadeshidden 0.2s linear;
}
@keyframes fadeshidden{
    from{margin-left: 0px}
    top{margin-left: 100px;}
}
.buttons{
    display: inline-flex;
    padding: 5px;
    position: absolute;
    left: 36%;
    top: 85%;
}
button{
    margin: 5px;
    font-family: 'Press Start 2p';
    text-align: center;
    display: inline-block;
    margin:5px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #F2294E;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    outline: none;
}
.btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}